.btnx{
    position: fixed;
    float: right;
   z-index: 1;
   margin-left: 21rem;
 
    width: 2rem;
    height: 2.2rem;
    opacity:0.7;
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding-bottom: 0.8rem;
    border-radius: 100px 100px;
text-align: center;
line-height: 50px;
border: 2px solid black;
background-image: linear-gradient(to right,darkorange 50%,transparent 50%);
background-position: 100% 0%;
background-size: 200% 100%;
transition: 0.5s;
}


.btnx:hover{
color: gray;
background-position: 0% 50%;
box-shadow: 0.3px 0.3px 0px 0px black;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	
	

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	
	

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .list-group{
        width: 15rem;
        
    }
    .scroll{
        margin-left:-3rem ;
        
    }
    .card{
        height: 20rem;
        
    }
    .card-img-top{
        height: 10rem;
    }
    .btnx{
        position: fixed;
        float: right;
       margin-left: 81rem ;
      
        width: 3rem;
        opacity: 1;
        text-decoration: none;
        color: black;
        font-size: large;
        border-radius: 50px 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    background-image: linear-gradient(to right,darkorange 50%,transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;
    }
    

.btnx:hover{
    color: gray;
    background-position: 0% 50%;
    box-shadow: 0.3px 0.3px 0px 0px black;
}
}